.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
DZ1_Base_C/Task1/task1
.vscode/tasks.json
DZ1_Base_C/Task2/task2
DZ1_Base_C/Task3/task3
DZ2_Base_C/Task1/task1
DZ2_Base_C/Task2/task2
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/HomeWork_C.iml
.idea/editor.xml
DZ3_Base_C/task1
DZ3_Base_C/task2
DZ3_Base_C/task3
DZ3_Base_C/task4
DZ3_Base_C/task5
DZ4_Base_C/task1
DZ4_Base_C/task2
DZ4_Base_C/task3
DZ4_Base_C/task4
DZ4_Base_C/task5
DZ4_Base_C/task6
DZ4_Base_C/task7
DZ4_Base_C/task8
DZ4_Base_C/task9
DZ4_Base_C/task10
DZ4_Base_C/task11
DZ5_Base_C/task1
DZ5_Base_C/task2
DZ5_Base_C/task3
DZ5_Base_C/task4
DZ5_Base_C/task5
